.test__test {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: blueviolet;
}
.test__test ::-webkit-input-placeholder {
  color: gray;
}
.test__test ::-moz-placeholder {
  color: gray;
}
.test__test :-ms-input-placeholder {
  color: gray;
}
.test__test ::-ms-input-placeholder {
  color: gray;
}
.test__test ::placeholder {
  color: gray;
}
.test__test::after {
  content: "compile!!";
}

html a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: red;
}